<div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Create Edit Devaning Container</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Devaning No</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Container No</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Renban</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Suppiler</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Shift No</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Working No</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Plan Dvn Date</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Act Dvn Date</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Act Dvn Date Finish</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Devanning Type</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
            <div class="col-md-12 form-group row d-flex justify-content-around">
                <label class="col-md-4 form-control title">Devanning Status</label>
                <input type="text" class="col-md-7 form-control input-text" name="devaningNo" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)=" save()">Save</button>
            <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
        </div>
    </div>
</div>